{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["apps/client/**/*.{js,jsx,ts,tsx,css,html}"],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
